<!-- ============================================================== -->
<!-- Main wrapper - style you can find in nopagefound.scss -->
<!-- ============================================================== -->
<div class="ion-padding">
  <div>
    <h1>
      404
    </h1>
    <h3>
      página no encontrada
    </h3>
    <p>
      lo sentimos, no podemos encontrar la página que solicitaste
    </p>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
