<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title slot="start">Menu</ion-title> 
        <ion-icon slot="end" name="settings-outline" class="ion-padding"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-accordion-group >
        <ion-accordion *ngFor="let m of menu | async" value="first" >
          <ion-item slot="header" color="light">
            <ion-label> {{m.title}} </ion-label>
          </ion-item>
          <div *ngFor="let sm of m.submenu" slot="content">
            <ion-item [routerLink]="sm.url" 
                      slot="header" 
                      color="light">
              <ion-label> {{sm.title}} </ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-accordion-group >
        <ion-accordion value="first" >
          <ion-item slot="header" color="light">
            <ion-label> Cuenta </ion-label>
          </ion-item>
          <div slot="content">
            <ion-item routerLink="/login"  slot="header" color="light">
              <ion-label> LogOut </ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
